.layout-heading{
    text-align: center;
    background-color: black;
    /*border: 2px dashed red;*/
    overflow: auto;
}

.layout-heading .main-title {
    float: top;
    font-size: 600%;
    /*border: 2px dashed green;*/
    font-family: "Times New Roman";
    color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 50px;
}

.layout-heading .sign-in-cell {
    /*border: 2px dashed yellow;*/
    float: right;
}

.sign-in-cell .sign-in-button {
    background-color: black;
    border: black;
    color: white;
    font-size: 100%;
}

.layout-heading .logo {
    /*border: 2px dashed blue;*/
    float: left;
    width: 100px;
    height: 50px;
    overflow: auto;
}

.logo img {
    width:50%;
    float: left;
}

.top-tags {
    /*border: 2px dashed #ff3cf6;*/
    text-align: center;
    float: left;
}

.top-tags-list {
    overflow: auto;
}

.top-tags .top-tags-list li {
    color: white;
    text-decoration: underline;
    font-size: 20px;
    padding-right: 10px;
    list-style: none;
    clear: both;
    float: left;
    margin-bottom: 10px;
}

/* Filtration*/

.drop-down-menu .filtration-frame {
    position: absolute;
    top: -999px;
    height:100%;
    width: 30%;
    color: white;
    background-color: grey;
    /*border: 2px dashed greenyellow;*/
    opacity: 0;
    transition: 1s opacity;
    overflow: auto;
}

.field {
    position: relative;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.field .label-text {
    display: block;
    line-height: 16px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.field .input-text {
    width: 100%;
    background:transparent;
    border: none;
    display: block;
    line-height: 16px;
    font-family: "Times New Roman";
    font-size: 16px;
    -webkit-appearance: none;
    border-bottom: 2px solid white;
    padding: 8px 0;
    color: white;
}

.filtration-button button {
    background-color: black;
    color: white;
    border: 2px solid yellow;
}

.drop-down-menu div:hover {
    cursor: pointer;
}

.drop-down-menu:hover .filtration-frame {
    top:10px;
    z-index:9999;
    background: black;
    opacity: 0.8;
}

.form-frames {
    width: 100%;
}

.icons div{
    display: inline-block;
    /*border: 2px dashed darkblue;*/
    background: url("../images/sprites/icon1-sprite.jpg") no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    /*border: 2px dashed white;*/
    overflow: auto;
    border-radius: 10%;
}

.icons .filtration-icon{
    background-position: -466px  -232px;
    /*border: 2px dashed orange;*/
}

/*----------
----------*/

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /*border: 2px solid black;*/
    position: relative;
    overflow: auto;
    text-align: center;
}

.news-list {
    padding: 10px 10px 10px 10px;
    width: 65%;
    /*border: 2px dashed blue;*/
    overflow: auto;
    display: inline-block;
}

.news .news-tag {
    /*border: 2px dashed green;*/
    margin-bottom: 20px;
    margin-top: 20px;
    color: red;
}

.news-tag a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.news-list .news-description {
    /*border: 2px dashed darkgoldenrod;*/
    font-size: 18px;
    padding-left: 20px;
}

.clear {
    clear: both;
}

.news {
    float: left;
    width: 100%;
    border-bottom: 2px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.news .news-title {
    float: top;
}

.news .news-photo {
    float: left;
    /*border: 2px dashed blue;*/
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

.news .news-author {
    margin-top: 10px;
    float: left;
    /*border: 2px dashed darkorange;*/
}

.news-author .href-news-author {
    font-size: 10px;
}

.news .news-date {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
    /*border: 2px dashed cadetblue;*/
    float: right;
}

.news-photo img {
    width: 100%;
    height: 100%;
}

.user-commands {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.user-commands .add-news-button {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

.user-commands .load-more-button {
    display: inline-block;
    margin-top: 10px;
}

.add-news-button input{
    width: 100px;
    font-size: 100px;
}

.load-more-button input{
    width: 100px;
    font-size: 100px;
}

.line {
    float: left;
    width: 100px;
}

.footer {
    background-color: black;
    /*border: 2px dashed indianred;*/
    overflow: auto;
}

.footer .footer-cell {
    width: 60%;
    /*border: 2px dashed greenyellow;*/
    float: right;
    margin-right: 10%;
}

.footer-cell .footer-copyright {
    color: white;
    /*border: 2px dashed orange;*/
    text-align: right;
}

.footer-cell .creator-information {
    color: white;
    /*border: 2px dashed orchid;*/
    text-align: center;
}
